# include <Siv3D/Windows/Resource.hpp>

//////////////////////////////////////////////////////
//
//	Siv3D Engine Resources (DO NOT REMOVE)
//
//////////////////////////////////////////////////////
DefineResource(100, ICON, icon.ico)

//
//	Shaders
//
Resource(engine/shader/d3d11/sprite.vs)
Resource(engine/shader/d3d11/shape.ps)
Resource(engine/shader/d3d11/square_dot.ps)
Resource(engine/shader/d3d11/round_dot.ps)
Resource(engine/shader/d3d11/texture.ps)
Resource(engine/shader/d3d11/bitmapfont.ps)
Resource(engine/shader/d3d11/sdffont.ps)
Resource(engine/shader/d3d11/sdffont_outline.ps)
Resource(engine/shader/d3d11/sdffont_shadow.ps)
Resource(engine/shader/d3d11/sdffont_outlineshadow.ps)
Resource(engine/shader/d3d11/msdffont.ps)
Resource(engine/shader/d3d11/msdffont_outline.ps)
Resource(engine/shader/d3d11/msdffont_shadow.ps)
Resource(engine/shader/d3d11/msdffont_outlineshadow.ps)
Resource(engine/shader/d3d11/msdfprint.ps)
Resource(engine/shader/d3d11/fullscreen_triangle.vs)
Resource(engine/shader/d3d11/fullscreen_triangle.ps)
Resource(engine/shader/d3d11/forward3d.vs)
Resource(engine/shader/d3d11/line3d.vs)
Resource(engine/shader/d3d11/forward3d.ps)
Resource(engine/shader/d3d11/line3d.ps)
Resource(engine/shader/d3d11/copy.ps)
Resource(engine/shader/d3d11/gaussian_blur_5.ps)
Resource(engine/shader/d3d11/gaussian_blur_9.ps)
Resource(engine/shader/d3d11/gaussian_blur_13.ps)
Resource(engine/shader/d3d11/apply_srgb_curve.ps)
Resource(engine/shader/d3d11/quad_warp.vs)
Resource(engine/shader/d3d11/quad_warp.ps)
Resource(engine/shader/d3d11/sky.ps)
Resource(engine/shader/glsl/sprite.vert)
Resource(engine/shader/glsl/shape.frag)
Resource(engine/shader/glsl/square_dot.frag)
Resource(engine/shader/glsl/round_dot.frag)
Resource(engine/shader/glsl/texture.frag)
Resource(engine/shader/glsl/bitmapfont.frag)
Resource(engine/shader/glsl/sdffont.frag)
Resource(engine/shader/glsl/sdffont_outline.frag)
Resource(engine/shader/glsl/sdffont_shadow.frag)
Resource(engine/shader/glsl/sdffont_outlineshadow.frag)
Resource(engine/shader/glsl/msdffont.frag)
Resource(engine/shader/glsl/msdffont_outline.frag)
Resource(engine/shader/glsl/msdffont_shadow.frag)
Resource(engine/shader/glsl/msdffont_outlineshadow.frag)
Resource(engine/shader/glsl/msdfprint.frag)
Resource(engine/shader/glsl/fullscreen_triangle.vert)
Resource(engine/shader/glsl/fullscreen_triangle.frag)
Resource(engine/shader/glsl/forward3d.vert)
Resource(engine/shader/glsl/line3d.vert)
Resource(engine/shader/glsl/forward3d.frag)
Resource(engine/shader/glsl/line3d.frag)
Resource(engine/shader/glsl/copy.frag)
Resource(engine/shader/glsl/gaussian_blur_5.frag)
Resource(engine/shader/glsl/gaussian_blur_9.frag)
Resource(engine/shader/glsl/gaussian_blur_13.frag)
Resource(engine/shader/glsl/apply_srgb_curve.frag)
Resource(engine/shader/glsl/quad_warp.vert)
Resource(engine/shader/glsl/quad_warp.frag)
Resource(engine/shader/glsl/sky.frag)

//
//	Fonts
//
Resource(engine/font/min/siv3d-min.woff)

//
//	Box-shadow Textures
//
Resource(engine/texture/box-shadow/256.png)
Resource(engine/texture/box-shadow/128.png)
Resource(engine/texture/box-shadow/64.png)
Resource(engine/texture/box-shadow/32.png)
Resource(engine/texture/box-shadow/16.png)
Resource(engine/texture/box-shadow/8.png)

//////////////////////////////////////////////////////
//
//	Siv3D Engine Optional Resources (Can be removed if not required)
//
//////////////////////////////////////////////////////

//
//	Fonts
//
Resource(engine/font/mplus/mplus-1p-thin.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-light.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-regular.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-medium.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-bold.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-heavy.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-black.ttf.zstdcmp)
Resource(engine/font/noto-cjk/NotoSansCJK-Regular.ttc.zstdcmp)
//Resource(engine/font/noto-cjk/NotoSansJP-Regular.otf.zstdcmp)

//
//	Emoji Fonts
//
Resource(engine/font/noto-emoji/NotoColorEmoji.ttf.zstdcmp)
Resource(engine/font/noto-emoji/NotoEmoji-Regular.ttf.zstdcmp)

//
//	Icons
//
Resource(engine/font/fontawesome/fontawesome-brands.otf.zstdcmp)
Resource(engine/font/fontawesome/fontawesome-solid.otf.zstdcmp)
Resource(engine/font/materialdesignicons/materialdesignicons-webfont.ttf.zstdcmp)

//
//	Sound Font
//
Resource(engine/soundfont/GMGSx.sf2.zstdcmp)

//////////////////////////////////////////////////////
//
//	Siv3D App Resources (Your application resources here)
//
//////////////////////////////////////////////////////

#if !_DEBUG

Resource(asset/parameters.toml)
Resource(asset/localize.ini)

Resource(asset/image/aqua_noise.png)
Resource(asset/image/arrow_24x24.png)
Resource(asset/image/beatrice_32x32.png)
Resource(asset/image/bookmark_16x16.png)
Resource(asset/image/brick_stylish_24x24.png)
Resource(asset/image/brick_stylish_light_24x24.png)
Resource(asset/image/bridge_tiles_24x24.png)
Resource(asset/image/bush_16x16.png)
Resource(asset/image/catfish_24x24.png)
Resource(asset/image/clock_16x16.png)
Resource(asset/image/cosmos_noise.png)
Resource(asset/image/cursor.png)
Resource(asset/image/dango_wolf_24x24.png)
Resource(asset/image/dark_tree_16x16.png)
Resource(asset/image/dark_tree_48x48.png)
Resource(asset/image/folder_16x16.png)
Resource(asset/image/gorilla_24x24.png)
Resource(asset/image/grass_tile_64x64.png)
Resource(asset/image/grave_16x16.png)
Resource(asset/image/heart_vessel_24x24.png)
Resource(asset/image/helmet_16x16.png)
Resource(asset/image/hourglass_16x16.png)
Resource(asset/image/light_bulb_16x16.png)
Resource(asset/image/lion_32x32.png)
Resource(asset/image/magma_tile_24x24.png)
Resource(asset/image/magnet_16x16.png)
Resource(asset/image/manji_region.png)
Resource(asset/image/mine_flower_16x16.png)
Resource(asset/image/mixed_nature_16x16.png)
Resource(asset/image/omeme_patchouli_sun_16x16.png)
Resource(asset/image/otete_32x32.png)
Resource(asset/image/particle.png)
Resource(asset/image/phine_32x32.png)
Resource(asset/image/pin_16x16.png)
Resource(asset/image/punicat_24x24.png)
Resource(asset/image/rocket_16x16.png)
Resource(asset/image/rust_ferris_24x24.png)
Resource(asset/image/siv3d_icon.png)
Resource(asset/image/smile_mush_24x24.png)
Resource(asset/image/solid_rock_16x16.png)
Resource(asset/image/solt_16x16.png)
Resource(asset/image/stairs_24x24.png)
Resource(asset/image/temple_knight_side_32x32.png)
Resource(asset/image/test_tube_16x16.png)
Resource(asset/image/title_logo.png)
Resource(asset/image/torii_120x120.png)
Resource(asset/image/tourou_24x48.png)
Resource(asset/image/tree_16x16.png)
Resource(asset/image/tree_48x48.png)
Resource(asset/image/ura_title_logo.png)
Resource(asset/image/wing_16x16.png)
Resource(asset/se/arrow_step.mp3)
Resource(asset/se/attack1.mp3)
Resource(asset/se/attack2.mp3)
Resource(asset/se/break_helmet.mp3)
Resource(asset/se/damaged.mp3)
Resource(asset/se/enemy_find.mp3)
Resource(asset/se/fall_down.mp3)
Resource(asset/se/floor_transition.mp3)
Resource(asset/se/game_over_back.mp3)
Resource(asset/se/game_over_front.mp3)
Resource(asset/se/item_enter.mp3)
Resource(asset/se/item_use.mp3)
Resource(asset/se/recover_large.mp3)
Resource(asset/se/recover_small.mp3)
Resource(asset/se/scoop_move.mp3)
Resource(asset/se/scoop_start.mp3)
Resource(asset/se/stairs_close.mp3)
Resource(asset/se/stairs_step.mp3)
Resource(asset/se/system_no.mp3)
Resource(asset/se/system_yes.mp3)
Resource(asset/se/take_item.mp3)
Resource(asset/se/title_environment.mp3)
Resource(asset/se/title_start.mp3)
Resource(asset/bgm/dear_my_rabbit.mp3)
Resource(asset/bgm/kazegasane.mp3)
Resource(asset/bgm/obake_dance.mp3)
Resource(asset/bgm/shiro.mp3)
Resource(asset/bgm/tokeitou.mp3)
Resource(asset/bgm/tokeitou_2023.mp3)
Resource(asset/bgm/yugata.mp3)

#endif

/* examples 

	//
	// Define your resource path inside `Resource()` macro.
	// No double quotation marks and white spaces may appear.
	//
	Resource(example/siv3d-kun.png)		// ok
	Resource(example/windmill.png)		// ok
	Resource(assets/a b c.txt)			// error: contains white spaces
	Resource("example/windmill.png")	// error: contains double quotation marks

	//
	// If your file contains a white space, define the identifier without using Resource() macro.
	//
	MYIDENTIFIER_1 FILE "assets/a b c.txt"
	MYIDENTIFIER_2 FILE "level 1/map.dat"
*/
